apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true

  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    jsonData:
      defaultDatabase: audit_db
      host: clickhouse
      port: 9000
      protocol: native
      secure: false
      username: default
    secureJsonData:
      password: ""
    editable: true
